body{
    background: url(https://fernicosanchez.github.io/FNS_Productions/Imagenes/Proyectos2.jpeg);
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    margin: 0%;
    padding: 0%;
}

.hidden {
    display: none !important;
}

/* ----------- Header - Menu ------------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo{
    color:rgb(201, 160, 122);
    text-align: center;
    text-shadow: 0 0 10px;
    transition-duration: 2s;
    user-select: none;
    font-size: 24px;
}

.logo:hover{
    text-shadow: 0 0 4px red;
    font-size: 2em;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: .7s;
}

.nav-links a:hover {
    background-color: #3b3838e0;
    border-radius: 40%;
    font-size: 1.1rem;
}

.menu-icon {
    display: none;
    font-size: 24px;
    /* cursor: pointer; */
    user-select: none;
    font-weight: 900;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        display: none;
        width: 100%;
        background-color: #33333383;
        position: absolute;
        top: 60px;
        left: 0;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;

    }

    .nav-links.active {
        z-index: 100;
        display: flex;
    }

    .menu-icon {
        display: block;

    }
}

/* ----------- FIN Header - Menu ------------- */



/* ---------------- Section 1 --------------- */

/*  ********* Dialogs ************ */

.dialog__button{
    color: red;
    position: absolute;
    top: 10px;
    right: 0;
    box-shadow: 0 0 5px 1.2px #0000002d;
    text-shadow: 0 0 3px #9e3e3e;
    border-radius: 30%;
}


#dialog_atribuciones{
    width: 80vw;
    height: 60vh;
}

#boton_atribuciones{
    margin-top: 10px;
    border-radius: 30%;
    color: #000000;
    background-color: transparent;
    text-shadow: 0 0 10px black;
    font-weight: 700;
}

#boton_atribuciones:hover{
    background-color: #ffffff83;
}

.container_estudios{
    background: url(Imagenes/estudios1_portfolio.jpeg);
    background-size: contain;
    background-attachment: fixed;
    border-color: #427be6;
    border-width: 1px;
    box-shadow: 0 0 5px 2px #427be6;
    width: fit-content;
    height: min-content;
    padding: 5px 50px 5px 5px;
    border-radius: 2%;
    user-select: none;
    /* transition: 4s; */
}
/* 
.container_estudios:hover{
    opacity: 0;
    font-size: 1px;
} */

#dialog_div_estudios-1{
    min-width: 400px;
    max-height: 800px;
}

#dialog_div_estudios-2{
    min-width: 400px;
    max-height: 800px;
}

.span_fechas{
    color: white;
    box-shadow: 0 1px 4px 4px black;
    padding: 1px;
    background-color: #427be660;
}

#fecha_elec{
    position: absolute;
    top: 85px;
    right: 20px;
}

#fecha_sis{
    position: absolute;
    top: 130px;
    right: 20px;
}

#fecha_tec{
    position: absolute;
    top: 175px;
    right: 20px;
}

.h2_estudios{
    width: fit-content;
    height: min-content;
    margin-left: 30px;
    padding: 0 5px;
    background: linear-gradient(rgba(201, 181, 181, 0.747),rgba(175, 98, 98, 0.671));
    border-radius: 30%;
}

.lista_estudios-1{
    list-style: none;
    font-size: 20px;
    color: #fff;
    margin-top: 0;
}

.carrera_item{
    width: fit-content;
    background-color: #427be6c2;
    text-decoration: underline;
    border-radius: 15%;
    padding: 0 3px;
    margin-top: 0;
}

.lista_estudios-2{
    list-style: none;
    color: white;
}

#conocimiento_office{
    width: 80%;
    box-shadow: 0 0 2px 3px #427be6c2;
    background-color: #427be6;
}

#conocimiento_google{
    width: 85%;
    box-shadow: 0 0 5px 3px #427be6c2;
    background-color: #427be6;
}

#conocimiento_git{
    width: 55%;
    box-shadow: 0 0 2px 3px #427be6c2;
    background-color: #427be6;
}

#conocimiento_sql{
    width: 60%;
    box-shadow: 0 0 2px 3px #427be6c2;
    background-color: #427be6;
}

#conocimiento_py{
    width: 50%;
    box-shadow: 0 0 2px 3px #427be6c2;
    background-color: #427be6;
}

#conocimiento_html{
    width: 85%;
    box-shadow: 0 0 2px 3px #427be6c2;
    background-color: #427be6;
}

#conocimiento_css{
    width: 80%;
    box-shadow: 0 0 2px 3px #427be6c2;
    background-color: #427be6;
}

#conocimiento_js{
    width: 95%;
    box-shadow: 0 0 2px 3px #427be6c2;
    background-color: #427be6;
}

#conocimiento_cplus{
    width: 90%;
    box-shadow: 0 0 2px 3px #427be6c2;
    background-color: #427be6;
}

#conocimiento_c{
    width: 70%;
    box-shadow: 0 0 2px 3px #427be6c2;
    background-color: #427be6;
}

#conocimiento_ingles{
    width: 75%;
    box-shadow: 0 0 2px 3px #427be6c2;
    background-color: #427be6;
}

.conocimiento_porcentaje{
    padding: 0 75px;
    position: absolute;
    font-size: 0.8em;
    left: 25%;
    opacity: 0;
    transition: 1.5s;
}

.conocimiento_porcentaje:hover{
    opacity: 1;
}

#ampliar_info{
    font-weight: 600;
    padding: 0 25px;
    border-radius: 45%;
    margin-left: 25%;
    box-shadow: 0 0 10px 2px #427be66e;
    background-color: transparent;
    color: #fff;
    transition: 2s;
}

#ampliar_info:hover{
    font-size: 1.1em;
    background-color: #0005;
    box-shadow: 0 0 10px 10px #427be66e;
}


#section_1 {
    display: flex;
    flex-direction: row;
    background: url(https://fernicosanchez.github.io/FNS_Productions/Imagenes/foto_ig_campera.jpg);
    background-size: contain;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    
    margin: auto;
    margin-left: 3%;
    border-radius: 50%;
    position: relative;
}


#div-1_section_1 {
    height: 700px;
}

#p_section-1{
    background-color: #0000005b;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.418);
    border-radius: 25%;
    font-size: 18px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin-top: 30vh;
    padding: 5%;
}


@media (min-width: 780px) {
    #div-1_section_1 {
        min-height: 900px;
    }

    #p_section-1{
        background-color: #00000098;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.418);
        border-radius: 5% 5% 5% 5%;
        font-size: 24px;
        font-weight: 700;
        margin-left: clamp(41%,46%,49%);
        margin-right: clamp(10vw,11vw,12vw);
        margin-top: 10%;
        padding: 2%;
        color: rgb(255, 255, 255);
        position: relative;
        transform: perspective(700px) rotateY(-30deg);
        transition: 2.5s;
    }
    
    #p_section-1:hover {
        /* background-color: #ffffffb0;
        color: rgb(0, 0, 0); */
        transform: rotateY(0);
        border-radius: 0 5% 5% 0;
    }
}


#container__section-2{
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
}

.image-container {
    position: relative;
    cursor: pointer;
}

.image-container img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.image-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


.overlay-text {
    position: absolute;
    left: 50%;
    top: -100%;
    transform: translate(-50%, -50%);
    color: rgba(253, 235, 235, 0.753);
    font-size: medium;
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.637);
    pointer-events: none; /* Permite que los clics pasen a la imagen */
    text-wrap: balance;
}

/* ---------------------- Fin Section 1 ------------------------- */

/* ----------------------- Formulario -----------------------------*/

.form_inicial{
    padding-top: 5px;
    border-radius: 7px;
    border-width:medium;
    border-style: double;
    border-color: crimson;
    padding: 1px 100px 0 5px;
    background: turquoise;
    color: black;
    margin: 2px;
    text-align: left;
}

.form_inicial:hover{
    box-shadow: 0 0 10px #000;
}


fieldset{
    border-radius: 1%;
    color: #777;
}


.boton_eliminar{
    color: #9e3e3e;
    box-shadow: 0 0 5px 1.2px #0000002d;
}

.boton_eliminar:hover{
    color: #070c0373;
    box-shadow: 0 0 5px 1.2px #0000002d;
    border-radius: 25%;
    
}

.td_btn_eliminar{
    padding-left: 40px  ;
}


label {
    color: #0f0707;
    width: 100%;
    height: auto;
    font-weight: 700;
}

#fieldset_form:hover{
    box-sizing: border-box;
    box-shadow: 0 0 5px 1px #080808;
}

#prueba_leyenda {
    color: #000;
    font-size: 20px;
    text-shadow: 0 0 2px ;
}

.div_form {
    display: grid;
    grid-template-columns:min-content;
    justify-content: left;
}


@media (max-width: 600px) {
    .div_form {
        display: grid;
        grid-template-columns:min-content;
        justify-content: center;
    }
}

#form_inicial_submit{
    width: 150px;
    border-radius: 15%;
    background-color: #07040450;
    color:#ffffffbe;
}

#form_inicial_submit:hover{
    color: #be9393;
    box-shadow: 0 0 0px 1px #9e3e3e;
}

table{
    margin: auto;
}

.fila_tabla_final{
    background: linear-gradient(to right,rgba(44, 43, 43, 0.815),transparent);
    color: #fff;
    border-radius: 10%;
}

.fila_tabla_final:hover{
    background: linear-gradient(rgba(255, 0, 0, 0.815),transparent);
    color: #fff;
}

#p_tabla {
    text-align: center;
    color: #070404;
    text-shadow: 0 0 3px rgb(31, 9, 9);
    font-weight: 900;
}


/* ------------------------ Footer ------------------------------*/

footer {
    display: flex;
    position: relative;
    margin-top: 10px;
    width: 100%;
    /* max-height: 50px; */
}

#div_footer_atribuciones{
    width: auto;
    max-height: 100%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    position: absolute;
}


#div_redes_sociales{
    width: 70%;
    margin-left: 30%;
    display: flex;
    position: absolute;
    /* flex-direction: row; */
    top: 100;
    justify-content: end;
    gap: 10px;
}

.footer_icons:hover{
    border-radius: 50%;
    box-shadow: 0 1px 5px 1px black;
}