body{
    background: url(Imagenes/fondogris2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    margin: 0%;
    padding: 0%;
}

/* ----------- Header - Menu ------------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo{
    color:rgb(201, 160, 122);
    text-align: center;
    text-shadow: 0 0 10px;
    transition-duration: 2s;
    user-select: none;
    font-size: 24px;
}

.logo:hover{
    text-shadow: 0 0 4px red;
    font-size: 2em;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: .7s;
}

.nav-links a:hover {
    background-color: #3b3838e0;
    border-radius: 40%;
    font-size: 1.1rem;
}

.menu-icon {
    display: none;
    font-size: 24px;
    /* cursor: pointer; */
    user-select: none;
    font-weight: 900;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        display: none;
        width: 100%;
        background-color: #33333383;
        position: absolute;
        top: 60px;
        left: 0;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;

    }

    .nav-links.active {
        z-index: 100;
        display: flex;
    }

    .menu-icon {
        display: block;

    }
}

/* ----------- FIN Header - Menu ------------- */



/* ---------------- Section 1 --------------- */

#section_1 {
    display: flex;
    flex-direction: row;
    background: url(Imagenes/foto_ig_campera.jpg);
    background-size: contain;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    margin: auto;
    margin-left: 3%;
    border-radius: 30%;
    position: relative;
}


#div-1_section_1 {
    height: 700px;
}

#p_section-1{
    background-color: #0000005b;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.418);
    border-radius: 25%;
    font-size: 18px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin-top: 35vh;
    padding: 5%;
}


@media (min-width: 780px) {
    #div-1_section_1 {
        min-height: 900px;
    }

    #p_section-1{
        background-color: #00000098;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.418);
        border-radius: 5% 5% 5% 5%;
        font-size: 24px;
        font-weight: 700;
        margin-left: clamp(41%,46%,49%);
        margin-right: clamp(10vw,11vw,12vw);
        margin-top: 12%;
        padding: 2%;
        color: rgb(255, 255, 255);
        position: relative;
        transform: perspective(700px) rotateY(-30deg);
        transition: 2.5s;
    }
    
    #p_section-1:hover {
        transform: rotateY(0);
        border-radius: 0 5% 5% 0;
    }
}

/* ---------------------- Fin Section 1 ------------------------- */



#container__section-2{
    margin-left: 5%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
}

.image-container {
    position: relative;
    cursor: pointer;
}

.image-container img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 5px .5px #427be6;
    transition: transform 0.3s, box-shadow 0.3s;
}

.image-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0,0,0,0.1);
}


.overlay-text {
    position: absolute;
    left: 50%;
    top: -100%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 19px;
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(177, 177, 177, 0.637);
    pointer-events: none; /* Permite que los clics pasen a la imagen */
    text-wrap: balance;
    text-align: center;
}

/*  ************* Dialogs section 2 ****************** */

.dialog__button{
    color: red;
    position: absolute;
    top: 14px;
    right: 0;
    box-shadow: 0 0 5px 1.2px #0000002d;
    text-shadow: 0 0 3px #9e3e3e;
    border-radius: 30%;
}

/* ----------- Estudios ------------*/

#dialog_estudios{
    background: url(Imagenes/fondoestudiogris1.jpeg);
    background-size: cover;
    background-position: top;
    border-color: #427be6;
    border-width: 1px;
    box-shadow: 0 0 5px 2px #427be6;
    border-radius: 2%;
    padding: 0;
}

#div_estudios-0 {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 500px;
    height: auto;
    overflow-x: hidden;
}

.container_estudios{
    padding: 10px 5px;
    user-select: none;
}

.carrera_item{
    width: fit-content;
    margin-top: 0;
    font-size: 17px;
    color: #000000;
    text-shadow: 0 0 0#427be6;
}

.span_fechas{
    color: rgb(134, 0, 0);
    box-shadow: 0 1px 4px 4px black;
    font-weight: 700;
    padding: 2px;
    border-radius: 5%;
    margin-left: 10px;
}


.h2_estudios{
    width: fit-content;
    height: min-content;
    margin-left: 25px;
    font-weight: 900;
    text-shadow: 0 0 10px blac  k;
    color: rgb(134, 0, 0);
    font-size: 32px;
}

.lista_estudios-1{
    list-style: none;
    color: #ffffff;
    text-shadow: 3px 3px 25px white;
    margin-top: 0;
    margin-left: -5px;
}

.lista-1_detalles{
    background-color: #65666893;
}

.lista_estudios-2{
    list-style: none;
    color: white;
}

#conocimiento_office{
    width: 80%;
    box-shadow: 0 0 2px 3px #427be6c2;
    background-color: #427be6;
}

#conocimiento_google{
    width: 85%;
    box-shadow: 0 0 5px 3px #427be6c2;
    background-color: #427be6;
}

#conocimiento_git{
    width: 55%;
    box-shadow: 0 0 2px 3px #427be6c2;
    background-color: #427be6;
}

#conocimiento_sql{
    width: 60%;
    box-shadow: 0 0 2px 3px #427be6c2;
    background-color: #427be6;
}

#conocimiento_py{
    width: 50%;
    box-shadow: 0 0 2px 3px #427be6c2;
    background-color: #427be6;
}

#conocimiento_html{
    width: 85%;
    box-shadow: 0 0 2px 3px #427be6c2;
    background-color: #427be6;
}

#conocimiento_css{
    width: 80%;
    box-shadow: 0 0 2px 3px #427be6c2;
    background-color: #427be6;
}

#conocimiento_js{
    width: 95%;
    box-shadow: 0 0 2px 3px #427be6c2;
    background-color: #427be6;
}

#conocimiento_cplus{
    width: 90%;
    box-shadow: 0 0 2px 3px #427be6c2;
    background-color: #427be6;
}

#conocimiento_c{
    width: 70%;
    box-shadow: 0 0 2px 3px #427be6c2;
    background-color: #427be6;
}

#conocimiento_ingles{
    width: 75%;
    box-shadow: 0 0 2px 3px #427be6c2;
    background-color: #427be6;
}

.conocimiento_porcentaje{
    padding: 0 75px;
    position: absolute;
    font-size: 0.9em;
    left: 30%;
    opacity: 0;
    transition: 1.2s;
}

.conocimiento_porcentaje:hover{
    opacity: 1;
}

#ampliar_info, #reducir_info{
    user-select: none;
    font-weight: 900;
    padding: 5px 25px;
    border-radius: 45%;
    margin-left: 30%;
    box-shadow: 0 0 10px 2px #427be66e;
    background-color: #777;
    color: #1d0000;
    transition: 2s;
}

#ampliar_info:hover, #reducir_info:hover{
    background-color: rgba(202, 195, 195, 0.479);
    box-shadow: 0 0 2px 4px #427be66e;
}


/* Detalle estudios */

.container_estudios-detalles{
    display: none;
    opacity: 0;
    overflow-y: hidden;
}

.container_estudios-detalles li p{
    margin-top: 0;
}

.container_estudios-detalles h6{
    margin-bottom: 10px;
}

.lista-2_detalles p{
    color: blue;
    background-color: #d2d6e0;
    margin-right: 5%;
    border-radius: 7px;
    padding: 2px 5px;
    text-align: justify;
}

.lista-2_detalles h6{
    font-size: 15px;
    padding: 7px 0;
}

#nota_estudios-2{
    color:rgb(0, 0, 0);
    font-weight: 600;
    text-shadow: 0 0 15px white;
    margin-left: 5px;
}

/*------- Fin Estudios -------*/

/*--------- Exp Laboral --------*/


#dialog_expLaboral{
    background: linear-gradient(to right,#427be6,#ffffff83);
    max-width: 80vw;
    min-width: 340px;
    height: fit-content;
    box-shadow: 0 0 3px 0 black;
    overflow-x: hidden;
}

.exp_laboral_container{
    display: grid;
    grid-template-columns: 100% 100%;
    gap: 50px;
}

.dialog_div_expLaboral{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.h3_expLaboral{
    text-shadow: 0 0 7px whitesmoke;
}

#tabla_expLaboral td:first-child{
    text-align: balance;
    text-shadow: 0 0 1px red;
    padding-right: 50px;
}

#tabla_expLaboral h5{
    font-size: 18px;
    text-shadow: none;
    margin-bottom: 1px;
    margin-top: 10px;
}

#tabla_expLaboral td:last-child{
    text-align: justify;
    text-shadow: 0 0 1px red;
}

#p_expLaboral{
    max-width: 80%;
}

#button-detalles_expLaboral, #button-detalles_expLaboral-2{
    background-color: #000000;
    box-shadow: 0 0 10px 1px blue;
    color: #ffffff83;
    font-weight: 900;
    border-radius: 10px;
    transition: 2s;
}

#button-detalles_expLaboral:hover, #button-detalles_expLaboral-2:hover{
    font-size: 1.1em;
    text-shadow: 0 0 1px red;
}


/* ----  Detalles expLaboral ----*/

.dialog_div_expLaboral-detalles{
    display: none;
    opacity: 0.5;
}

/*--------- Fin expLaboral ----------*/

/* ----------- Proyectos -----------*/

#dialog_proyectos{
    background: url(Imagenes/proyectos_oscuro1.jpeg);
    background-size: cover;
    background-position: center;
    max-width: fit-content;
    max-height: fit-content;
    overflow: hidden;
    overflow-x: hidden;
}


.dialog_div_proyectos{
    max-width: 90%;
    margin-left: 15px;
    overflow: hidden;
    overflow-x: hidden;
}

#h2_proyectos{
    text-align: center;
    text-shadow: 0 0 7px rgba(241, 15, 15, 0.801);
    font-size: 26px;
}

#lista_proyectos{
    list-style: none;
    text-align: balance;
}

#lista_proyectos h3{
    margin-left: 25%;
    font-size: 24px;
    border-radius: 30px;
    text-align: center;
    width: 45%;
    color: rgb(177, 42, 170);
    box-shadow: 0 0 10px 0 black;
    background: linear-gradient(to right,rgba(37, 37, 37, 0.747),rgb(194, 184, 184));
}

#lista_proyectos p{
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 10px whitesmoke;
    font-weight: 700;
    font-size: 18px;   
    width: fit-content;
    border-radius: 15px;
}


/*  ************* Fin Dialogs section 2 ****************** */


/* ------------------------ Footer ------------------------------*/

footer {
    display: flex;
    position: relative;
    margin-top: 10px;
    width: 100%;
}

#div_footer_atribuciones{
    width: auto;
    max-height: 100%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    position: absolute;
}


#dialog_atribuciones{
    width: fit-content;
    height: clamp(100px,200px,400px);
    background: linear-gradient(to bottom,whitesmoke,black);
    box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.568);
}

#boton_atribuciones{
    margin-top: 10px;
    border-radius: 30%;
    color: #000000;
    background-color: transparent;
    text-shadow: 0 0 10px black;
    font-weight: 700;
}

#boton_atribuciones:hover{
    background-color: #ffffff83;
}


#div_redes_sociales{
    width: 70%;
    margin-left: 30%;
    display: flex;
    position: absolute;
    top: 100;
    justify-content: end;
    gap: 10px;
}

.footer_icons:hover{
    border-radius: 50%;
    box-shadow: 0 1px 5px 1px black;
}


/* ------------------------ Animaciones ----------------------------- */

@keyframes desplazamiento1 {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(100%);
    }
}

@keyframes desp_izq {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
@keyframes desp_der {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes desaparecer {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        display: none;
    }
}

@keyframes aparecer {
    0%{
        opacity: 0;
    }
    50%{
        opacity: .1;
    }
    100%{
        opacity: 1;
    }
}