body{
    background-size: contain;
    background: linear-gradient(to left,#211e,transparent);
    margin: 0%;
    padding: 0%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo{
    color:rgb(197, 186, 175);
    text-align: center;
    text-shadow: 0 0 10px;
    transition-property: text-shadow,font-size;
    transition-duration: 2s;
}

.logo:hover{
    text-shadow: 0 0 5px red;
    font-size: 2em;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        display: none;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
}

#div_bienvenido{
    box-sizing: border-box;
    width: 50vw;
    max-width: 60vw;
    border: 5px solid black;
    border-radius: 50%;
    background-color: rgb(17, 131, 131);
    margin: auto;
    box-shadow: 0 0 7px;
    transition-property: width;
    transition-duration: 2s;
}

#h4_bienvenido{
    box-sizing: border-box;
    border-radius: 30%;
    color: chocolate;
    font-family: sans-serif,Arial;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    /* text-decoration: overline underline; */
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 0 0 4px;
    /* box-shadow: 0 0 1px -15px; */
    /* background-color: rgba(12, 95, 95, 0.13); */
    background: linear-gradient(to top,rgba(192, 52, 17, 0.514),transparent);
    transition-property: color;
    transition-duration: 2s;
}

#h4_bienvenido:hover{
    color: #211e;
}

#div_bienvenido:hover{
    background-color: #451;
    width: 40vw;
}


.form_inicial{
    border-radius: 7px;
    border-width:medium;
    border-style: double;
    border-color: crimson;
    padding: 1px 10px;
    background: turquoise;
    color: black;
    margin: 2px;
}


.img_lp{
    max-height: 93vh;
    width: 93vW;
    box-sizing: border-box;
    /* filter: drop-shadow(0px 0px 5px #000); */
    margin: 2%;
    padding: 0%;
    box-shadow: 0 0 20px;
    
}



#form_inicial_mensaje{
    min-width: 300px;
    min-height: 2em;
}

table{
    text-align: center;
}

fieldset{
    border-radius: 1%;
    color: #777;
}

#dialog{
    border: 1px solid black;
    border-radius: 7%;
    margin-left: 70vw;
    position: fixed;
}

.dialog__button{
    color: red;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0 0 5px 1.2px #0000002d;
    text-shadow: 0 0 3px #9e3e3e;
}

.boton_eliminar{
    color: #9e3e3e;
    box-shadow: 0 0 5px 1.2px #0000002d;
    border-radius: 30%;
}

.boton_eliminar:hover{
    color: #070c0373;
    box-shadow: 0 0 5px 1.2px #0000002d;
    border-radius: 25%;
    
}

.td_btn_eliminar{
    padding-left: 40px  ;
}

.fila_tabla_final:hover{
    background: linear-gradient(rgba(255, 0, 0, 0.815),transparent);
    color: #fff;
    border-radius: 10%;
}