* {
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

body{
    margin: 0;
    /* background: url(https://fernicosanchez.github.io/FNS_Productions/Imagenes/Proyectos1.jpeg);
    background-size: cover; */
}

/*   HEADER  */
.header{
    background-color: #fff;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header__open-nav-button{
    color: #48e;
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    right: 10px;
}

.header input[type="checkbox"]{
    display: none;
}

.header__nav{
    display: none;
    background-color: #fff;
    position: absolute;
    height: 40vh;
    width: 30vw;
    top: 0;
    right: 0;
    z-index: -10;
}

.header__nav-list{
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin: auto;
    margin-top: 10px;
    justify-content: space-evenly;
}

.header__nav-item{
    list-style: none;
}

.header__nav-item a{
    color: #48e;
    text-decoration: none;
    text-shadow: 1px 2px 3px #0005;
    font-weight: 600;
    background-color: #48e1;
    padding: 10px;
    border-radius: 40%;
    text-align: center;
}

.header__nav-item a:is(:hover,:active){
    text-decoration: underline;
}

.header__checkbox:checked ~ .header__nav{
    display: flex;
}

.header__logo{
    max-width: 100%;
    width: 64px;
    margin: 15px 30px;
}

/* */

.container_estudios{
    background: url(../Imagenes/fondoestudiogris1.jpeg);
    background-size: cover;
    background-position: top;
    border-color: #427be6;
    border-width: 1px;
    box-shadow: 0 0 5px 2px #427be6;
    width: min-content;
    max-width: 90vw;
    min-width: 400px;
    height: min-content;
    padding: 10px 5px;
    border-radius: 2%;
    user-select: none;
}

#dialog_div_estudios-1{
    min-width: 400px;
    max-height: 800px;
}

#dialog_div_estudios-2{
    min-width: 400px;
    max-height: 800px;
}

.span_fechas{
    color: rgb(134, 0, 0);
    box-shadow: 0 1px 4px 4px black;
    font-weight: 700;
    padding: 1px;
    border-radius: 5%;
}

#fecha_elec{
    position: relative;
    top: 2.7vh;
    left: 265px;
}

#fecha_sis{
    position: relative;
    top: 11.7vh;
    left: 140px;
}

#fecha_tec{
    position: relative;
    top: 19.7vh;
    left: 55px;
}

.h2_estudios{
    width: fit-content;
    height: min-content;
    margin-left: 30px;
    font-weight: 900;
    text-shadow: 0 0 10px black;
    border-radius: 30%;
    color: rgb(134, 0, 0);
    font-size: 32px;
}

.lista_estudios-1{
    list-style: none;
    color: #031941;
    text-shadow: 0 0 7px whitesmoke;
    margin-top: 0;
}

.carrera_item{
    width: fit-content;
    text-decoration: underline;
    margin-top: 0;
    font-size: 17px;
}

.lista_estudios-2{
    list-style: none;
    color: white;
}

#conocimiento_office{
    width: 80%;
    box-shadow: 0 0 2px 3px #427be6c2;
    background-color: #427be6;
}

#conocimiento_google{
    width: 85%;
    box-shadow: 0 0 5px 3px #427be6c2;
    background-color: #427be6;
}

#conocimiento_git{
    width: 55%;
    box-shadow: 0 0 2px 3px #427be6c2;
    background-color: #427be6;
}

#conocimiento_sql{
    width: 60%;
    box-shadow: 0 0 2px 3px #427be6c2;
    background-color: #427be6;
}

#conocimiento_py{
    width: 50%;
    box-shadow: 0 0 2px 3px #427be6c2;
    background-color: #427be6;
}

#conocimiento_html{
    width: 85%;
    box-shadow: 0 0 2px 3px #427be6c2;
    background-color: #427be6;
}

#conocimiento_css{
    width: 80%;
    box-shadow: 0 0 2px 3px #427be6c2;
    background-color: #427be6;
}

#conocimiento_js{
    width: 95%;
    box-shadow: 0 0 2px 3px #427be6c2;
    background-color: #427be6;
}

#conocimiento_cplus{
    width: 90%;
    box-shadow: 0 0 2px 3px #427be6c2;
    background-color: #427be6;
}

#conocimiento_c{
    width: 70%;
    box-shadow: 0 0 2px 3px #427be6c2;
    background-color: #427be6;
}

#conocimiento_ingles{
    width: 75%;
    box-shadow: 0 0 2px 3px #427be6c2;
    background-color: #427be6;
}

.conocimiento_porcentaje{
    padding: 0 75px;
    position: absolute;
    font-size: 0.8em;
    left: 10%;
    opacity: 0;
    transition: 1.2s;
}

.conocimiento_porcentaje:hover{
    opacity: 1;
}

#ampliar_info{
    font-weight: 900;
    padding: 0 25px;
    border-radius: 45%;
    margin-left: 25%;
    box-shadow: 0 0 10px 2px #427be66e;
    background-color: transparent;
    color: #1d0000;
    transition: 2s;
}

#ampliar_info:hover{
    font-size: 1.1em;
    background-color: rgba(202, 195, 195, 0.333);
    box-shadow: 0 0 2px 4px #427be66e;
}

/*-------------------------------------------------------*/


/* ----------------------- Formulario -----------------------------*/

.form_inicial{
    padding-top: 5px;
    border-radius: 7px;
    border-width:medium;
    border-style: double;
    border-color: crimson;
    padding: 1px 100px 0 5px;
    background: turquoise;
    color: black;
    margin: 2px;
    text-align: left;
}

.form_inicial:hover{
    box-shadow: 0 0 10px #000;
}


fieldset{
    border-radius: 1%;
    color: #777;
}


.boton_eliminar{
    color: #9e3e3e;
    box-shadow: 0 0 5px 1.2px #0000002d;
}

.boton_eliminar:hover{
    color: #070c0373;
    box-shadow: 0 0 5px 1.2px #0000002d;
    border-radius: 25%;
    
}

.td_btn_eliminar{
    padding-left: 40px  ;
}


label {
    color: #0f0707;
    width: 100%;
    height: auto;
    font-weight: 700;
}

#fieldset_form:hover{
    box-sizing: border-box;
    box-shadow: 0 0 5px 1px #080808;
}

#prueba_leyenda {
    color: #000;
    font-size: 20px;
    text-shadow: 0 0 2px ;
}

.div_form {
    display: grid;
    grid-template-columns:min-content;
    justify-content: left;
}


@media (max-width: 600px) {
    .div_form {
        display: grid;
        grid-template-columns:min-content;
        justify-content: center;
    }
}

#form_inicial_submit{
    width: 150px;
    border-radius: 15%;
    background-color: #07040450;
    color:#ffffffbe;
}

#form_inicial_submit:hover{
    color: #be9393;
    box-shadow: 0 0 0px 1px #9e3e3e;
}

table{
    margin: auto;
}

.fila_tabla_final{
    background: linear-gradient(to right,rgba(44, 43, 43, 0.815),transparent);
    color: #fff;
    border-radius: 10%;
}

.fila_tabla_final:hover{
    background: linear-gradient(rgba(255, 0, 0, 0.815),transparent);
    color: #fff;
}

#p_tabla {
    text-align: center;
    color: #070404;
    text-shadow: 0 0 3px rgb(31, 9, 9);
    font-weight: 900;
}



/**-------------------------------*/

.content {
    width: 300px;
    height: 200px;
    overflow: hidden; /* Evita que se vea el scroll */
    position: relative;
    border: 1px solid #000;
}

.info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0f0f0;
    transition: transform 0.5s ease-in-out;
}

.slide-out-right {
    animation: slideOutRight 0.5s forwards;
}

.slide-in-left {
    animation: slideInLeft 0.5s forwards;
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}